@media screen and (max-width: 680px) {
  header {
    h1 {
      font-size: 1.4rem;
    }

    .hamburger-menu {
      font-size: 1.2rem;
    }
  }

  .main-content {
    .all-menu {
      height: calc(100% - 40px); // total padding main content + header
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .menu-title {
      width: 80%;
    }

    .yes-no-btn {
      button {
        width: 30px;
      }
    }
  }

  .content.active {
    margin-left: 0 !important;
    transition: margin-left 0.15s ease-in-out;
  }
}
