header {
  background-color: #ccd5ae;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px 20px;
  position: sticky; // might delete

  h1 {
    font-family: title-font;
    font-size: 1.4rem;
  }

  .hamburger-menu {
    font-size: 1.2rem;
    cursor: pointer;
  }
}
