.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  height: 100%;

  li:hover,
  p:hover {
    background-color: rgba($color: #bab7b7, $alpha: 0.3);
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  span {
    padding-right: 5px;
    font-size: 1.1rem;
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
  }

  .all-menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease-in-out;
    gap: 30px;
    padding: 30px 15px;

    .project-list {
      li::before {
        content: '\2022'; // bullet points
        font-size: 2rem;
        color: pink;
      }
    }
  }

  .all-menu.active {
    display: flex;
  }

  .content {
    background-color: burlywood;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
