.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  height: 100%;

  li:hover,
  .project-group > p:hover {
    background-color: rgba($color: #bab7b7, $alpha: 0.3);
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  .fa-inbox {
    color: #246fe0;
  }

  .fa-calendar-day {
    color: #058527;
  }

  .fa-calendar-week {
    color: #692fc2;
  }

  .fa-square-check {
    color: #eb8909;
  }

  .group-name {
    display: flex;
    gap: 5px;

    span {
      padding-right: 5px;
      font-size: 1.1rem;
    }
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .total-tasks {
    font-size: 0.8rem;
    opacity: 0.5;
  }

  .all-menu {
    background-color: rgb(244, 244, 244);
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease-in-out;
    gap: 25px;
    padding: 30px 18px;

    .project-list {
      .project-group > p {
        font-size: 1.1rem;
        font-family: title-font;
        padding: 8px 2px;
        border-radius: 5px;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .group-name {
        span {
          opacity: 0.5;
        }
      }
    }
  }

  .all-menu.active {
    display: flex;
  }

  .content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
