@use 'modules/header';
@use 'modules/main-content';
@use 'modules/breakpoints/small';

@font-face {
  font-family: title-font;
  src: url(../../public/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: content-font;
  src: url(../../public/fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: content-font;
  overflow: hidden;
}
