header {
  background-color: #ccd5ae;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 20;
}
header h1 {
  font-family: title-font;
  font-size: 1.4rem;
}
header .hamburger-menu {
  font-size: 1.2rem;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: scroll;
  margin-top: var(--top-header);
  height: 100%;
}
.main-content li:hover,
.main-content .project-group:hover,
.main-content new-project > a:hover {
  background-color: rgba(186, 183, 183, 0.3);
}
.main-content a:link {
  text-decoration: none;
}
.main-content a:visited {
  color: black;
}
.main-content .fa-inbox {
  color: #246fe0;
}
.main-content .fa-calendar-day {
  color: #058527;
}
.main-content .fa-calendar-week {
  color: #692fc2;
}
.main-content .fa-square-check {
  color: #eb8909;
}
.main-content .fa-plus {
  opacity: 0.5;
  font-size: 1.1rem;
  padding: 2px 3px;
  color: black;
}
.main-content .group-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-content .group-name span {
  padding-right: 5px;
  font-size: 1.1rem;
}
.main-content li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-content .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-content .total-tasks {
  font-size: 0.8rem;
  opacity: 0.5;
}
.main-content .all-menu {
  background-color: rgb(244, 244, 244);
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 18px;
  position: fixed;
  margin-left: -306px;
  transition: margin-left 0.15s ease-in-out;
  top: calc(var(--top-header) - 1px);
  z-index: 10;
}
.main-content .all-menu li {
  border-radius: 5px;
}
.main-content .all-menu li a {
  padding: 8px;
}
.main-content .all-menu .project-wrapper .project-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 8px 5px;
  cursor: pointer;
}
.main-content .all-menu .project-wrapper .project-group > p {
  font-size: 1.1rem;
  font-family: title-font;
}
.main-content .all-menu .project-wrapper .fa-plus:hover {
  opacity: 1;
}
.main-content .all-menu .project-wrapper new-project > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}
.main-content .all-menu .project-wrapper new-project > a .edit-project {
  display: none;
}
.main-content .all-menu .project-wrapper new-project > a .edit-project button {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}
.main-content .all-menu .project-wrapper new-project > a .edit-project button:hover {
  opacity: 1;
}
.main-content .all-menu .project-wrapper new-project > a .edit-project .fa-pen-to-square,
.main-content .all-menu .project-wrapper new-project > a .edit-project .fa-trash {
  font-size: 1.1rem;
}
.main-content .all-menu .project-wrapper new-project > a:hover .edit-project {
  display: flex;
  position: absolute;
  right: 26px;
  gap: 10px;
}
.main-content .all-menu .project-wrapper new-project > a:hover .total-tasks {
  opacity: 0;
}
.main-content .all-menu .project-wrapper new-project > a:link {
  color: black;
}
.main-content .all-menu .project-wrapper .group-name span {
  opacity: 0.5;
}
.main-content .all-menu.active {
  margin-left: 0;
}
.main-content .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: margin-left 0.15s ease-in-out;
  width: 100%;
}
.main-content .empty {
  width: 1px;
  min-height: 100px;
}
.main-content .menu-title {
  background-color: white;
  position: fixed;
  top: calc(var(--top-header) - 1px);
  width: 50%;
  padding: 20px 0;
  font-family: title-font;
  font-weight: bold;
  font-size: 1.4rem;
  transition: width 0.15s ease-in-out;
  z-index: 2;
  word-wrap: break-word;
}
.main-content .content.active {
  margin-left: 306px;
  transition: margin-left 0.15s ease-in-out;
}
.main-content .user-tasks {
  margin-top: var(--top-title);
  width: var(--width-title);
}
.main-content .user-tasks .task-wrapper {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
.main-content .user-tasks .task-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}
.main-content .user-tasks .task-wrapper .task-date {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  opacity: 0.5;
}
.main-content .user-tasks .task-wrapper .task-desc {
  opacity: 0.5;
  font-size: 0.9rem;
}
.main-content .user-tasks .task-wrapper .edit-panel {
  display: none;
}
.main-content .user-tasks .task-wrapper .edit-panel button {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}
.main-content .user-tasks .task-wrapper .edit-panel button:hover {
  opacity: 1;
}
.main-content .user-tasks .task-wrapper .edit-panel .fa-pen-to-square,
.main-content .user-tasks .task-wrapper .edit-panel .fa-trash {
  font-size: 1.1rem;
}
.main-content .user-tasks .task-wrapper:hover .edit-panel {
  display: flex;
  position: absolute;
  right: 0;
  gap: 10px;
}
.main-content .user-tasks span {
  font-size: 1.2rem;
  color: red;
}
.main-content .add-task {
  width: var(--width-title);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0;
}
.main-content .add-task p {
  opacity: 0.5;
}
.main-content .add-task:hover .fa-plus {
  background-color: #a9b870;
  border-radius: 50%;
  color: white;
}
.main-content .add-task:hover p {
  color: #a9b870;
}
.main-content .add-task.nonactive {
  display: none;
}
.main-content .task-input {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: var(--width-title);
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
}
.main-content .task-input button {
  padding: 5px;
  border-radius: 4px;
}
.main-content .task-input * {
  width: 100%;
}
.main-content input[type=text] {
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-family: content-font;
}
.main-content .set-panel,
.main-content .decision-panel,
.main-content .yes-no-btn {
  display: flex;
  flex-direction: row;
}
.main-content .yes-no-btn {
  width: auto;
  gap: 10px;
}
.main-content .yes-no-btn button {
  width: 70px;
}
.main-content .yes-no-btn .add-btn,
.main-content .yes-no-btn .cancel-btn,
.main-content .yes-no-btn .save-btn {
  cursor: pointer;
}
.main-content .yes-no-btn .add-btn,
.main-content .yes-no-btn .save-btn {
  background-color: #ccd5ae;
  color: white;
}
.main-content .yes-no-btn .add-btn:hover,
.main-content .yes-no-btn .save-btn:hover {
  filter: brightness(90%);
}
.main-content .yes-no-btn .add-btn.disable,
.main-content .yes-no-btn .save-btn.disable {
  cursor: not-allowed;
  opacity: 0.6;
}
.main-content .yes-no-btn .add-btn.disable:hover,
.main-content .yes-no-btn .save-btn.disable:hover {
  filter: brightness(100%);
}
.main-content .decision-panel {
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
}
.main-content .decision-panel button {
  border: none;
}
.main-content .priority {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: white;
  width: 90px;
  height: 25px;
  cursor: pointer;
}
.main-content .priority,
.main-content .priority .fa-flag {
  font-size: 0.8rem;
}
.main-content .priority li {
  justify-content: center;
  padding: 5px 0;
  gap: 5px;
}
.main-content .priority .p-one {
  color: red;
}
.main-content .priority .p-two {
  color: orange;
}
.main-content .priority .p-three {
  color: blue;
}
.main-content .priority .p-four {
  color: green;
}
.main-content .priority span,
.main-content .priority p {
  width: auto;
  display: flex;
  align-items: center;
}
.main-content .priority .flag-dropdown {
  position: absolute;
  background-color: white;
  top: 25px;
  display: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.main-content .priority .flag-dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-content .priority .flag-dropdown.active {
  display: flex;
}
.main-content .priority .current-flag > p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-content .priority .fa-flag {
  width: auto;
}
.main-content .set-panel {
  gap: 15px;
  align-items: center;
}
.main-content .due-date {
  width: 118px;
}
.main-content #due-date {
  height: 23px;
  border-radius: 4px;
}
.main-content #due-date,
.main-content .priority,
.main-content .flag-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 680px) {
  header h1 {
    font-size: 1.4rem;
  }
  header .hamburger-menu {
    font-size: 1.2rem;
  }
  .main-content .all-menu {
    height: calc(100% - 40px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .main-content .menu-title {
    width: 80%;
  }
  .main-content .yes-no-btn button {
    width: 30px;
  }
  .content.active {
    margin-left: 0 !important;
    transition: margin-left 0.15s ease-in-out;
  }
}
@font-face {
  font-family: title-font;
  src: url(../../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: content-font;
  src: url(../../public/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: content-font;
}

.add-project-form {
  background-color: white;
  width: 300px;
  height: 110px;
  display: none;
  flex-direction: column;
  padding: 16px;
  gap: 14px;
  position: absolute;
  top: calc(50% - 71px);
  left: calc(50% - 166px);
  border-radius: 8px;
  z-index: 25;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.add-project-form p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.add-project-form button {
  align-self: center;
  width: 80px;
  border: none;
  font-size: 0.9rem;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.add-project-form button:hover {
  filter: brightness(90%);
}
.add-project-form button:active {
  filter: brightness(80%);
}
.add-project-form .save-project-btn {
  display: none;
}
.add-project-form .add-project-name-btn,
.add-project-form .save-project-btn {
  background-color: #ccd5ae;
}
.add-project-form #project-name {
  border: 1px solid black;
  padding: 8px;
  outline: none;
  border-radius: 6px;
}
.add-project-form .button-wrap {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.add-project-form .add-project-name-btn.disable,
.add-project-form .save-project-btn.disable {
  cursor: not-allowed;
  opacity: 0.6;
}
.add-project-form .add-project-name-btn.disable:hover,
.add-project-form .save-project-btn.disable:hover {
  filter: brightness(100%);
}

.add-project-form.active {
  display: flex;
}

.overlay {
  display: none;
  background-color: rgba(57, 62, 70, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 3;
}

.overlay.active {
  display: flex;
}/*# sourceMappingURL=main.css.map */